@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");

/* To be applied to all tags*/
* {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e8e8e8;
}

/* Default tags*/
h1 {
  font-size: xxx-large;
}

p {
  font-size: x-large;
}

.container {
  padding: 10% 30%;
}

.work {
}
.work {
  margin-top: 100px;
}

#fullscreen {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-family: "Helvetica Neue", "sans-serif";
}
